.all-skills{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around;
}

.header-skills{
    text-align: center;
}

.languages, .frontend, .backend, .database{
    display: flex;
    flex-direction: column;
   align-items: center;
}

